@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
body {
    margin-bottom: 30px;
    margin-top: 0;
  }
  
  .container{
    margin: 0 10%;
  }

  .title{
    width: 12%;
    display: inline-block;

  }

  .title h1{
    transform: rotate(270deg);
    margin-bottom: 200px;
    font-size: 200px;
  } 

  .image{
    width: 40%;
    display: inline-block;
    margin-left: 100px;
  }

  .image img{
    width: 100%;
    margin:  0;
  }

  .contact{
    width: 30%;
    display: inline-block;
    margin: 0 80px;
  }

  .contact h2{
    font-size: 40px;
  }

  .contact p{
    margin: 0;
    font-size: 30px;
  }

  .description {
    margin-bottom: 10%;
  }

  .description p{
    text-align: center;
    font-weight: bold;
  }

  .description .marcacao{
    width: 10px;
    height: 5px;
    background-color: black;
    margin-left: 36%;
  }
  
  .values, .graduation {
    width: 45%;
    height: 400px;
    display: inline-block;
  }

  .values .columns{
    width: 40%;
    display: inline-block;
  }

  .values p{
    margin:0;
  }

  h2{
    font-weight: bold;
    margin-bottom: 50px;
  }
 
  h1{
    font-size: 60px;
    font-weight: 300px;
    font-weight: bold;
  }
    
  p{
    font-size: 20px;
    line-height: 1.5;
  }
  
  img{
    width: 30%;
    filter: grayscale(100%);
  }
  
  ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
  }
