@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
body {
    margin-bottom: 30px;
  }
  
  .container{
    margin: 20%;
  }

  h2{
    font-weight: bold;
  }
 
  h1{
    font-size: 60px;
    font-weight: 300px;
    font-weight: bold;
  }
    
  p{
    font-size: 20px;
    line-height: 1.5;
  }
  
  img{
    width: 30%;
    filter: grayscale(100%);
  }
  
  ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
  }
