@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
body {
    text-align: center;
    background-color: #515c80;
    color:#fff;
    margin-bottom: 30px;
  }
  
  h2{
    color:#0a1338;
    font-size: 40px;
  }
  
  section{
    width:60%;
    margin: 0 auto;
  }
 
  h1{
    font-size: 60px;
    font-weight: 300px;
  }
    
  p{
    font-size: 20px;
    line-height: 1.5;
  }
  
  img{
    width: 50%;
  }
  
  ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
  }
  
  a{
    text-decoration: none;
    color:#99ffff;
    font-weight: 700;
  }
  .menu {
    background-color: #252947;
    height:40px;
    width:80%;
    margin:0 auto;
  }
  .menu li{
    display: inline;
    line-height:2.5;
    margin:0 89px;
  }
  
  .menu a{
    color:#fff;
    text-decoration: underline;
    font-weight:normal;
  }
