@import 'colors';

.values{
  width: 49%;
  display: inline-block;
  p{
    margin:5px 0;
  }
}

.graduation {
    width: 49%;
    display: inline-block;
  }

.columns{
  width: 40%;
  display: inline-block;
}

.bloco{
  width: 49%;
  display: inline-block;
}

.languages{
  margin-top: 50px;
  .columns:nth-child(even){
    width: 20%;
  }
  .nivel-1{
    background-color: $preto;
    margin-bottom: 30px;
    width: 100%  
  }
  .nivel-2{
    background-color: $preto;
    margin-bottom: 30px;
    width: 80%
  }
  .nivel-3{
    background-color: $preto;
    margin-bottom: 0;
    width: 70%
  }
}

.nivel-1, .nivel-2, .nivel-3{
  height: 17px;
}

.skills{
    margin-top: 50px;
  }


