@import 'colors';

.description {
  margin-bottom: 10%;
  p{
    text-align: center;
    font-weight: bold;  
  }
  .marcacao{
    width: 10px;
    height: 5px;
    background-color: $preto;
    margin-left: 36%;
    }
  }

