.description {
    margin-bottom: 10%;
  }

  .description p{
    text-align: center;
    font-weight: bold;
  }

  .description .marcacao{
    width: 10px;
    height: 5px;
    background-color: black;
    margin-left: 36%;
  }