@import 'colors';

.title{
    width: 12%;
    display: inline-block;
    h1{
      transform: rotate(270deg);
      margin-bottom: 200px;
      font-size: 200px;
      }

  }

  .image{
    width: 40%;
    display: inline-block;
    margin-left: 100px;
    img{
      width: 100%;
      margin:  0;
      }
  }

  .contact{
    width: 30%;
    display: inline-block;
    margin: 0 80px;
    h2{
      font-size: 40px;
    }
    p{
      margin: 0;
      font-size: 30px;
      }
  }
